.main-content-budget{
    display: flex;
    
}
.budget-budget-header h2{
    font-size: 30px;

}
.budget-header-main{
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 4rem;
}
.budget-list-title{
    margin: 1rem 0;
}
.cart-section{
    margin: 2rem 0;
}
.cart-section img{
    border-radius: 10px;
}
.card-budget{
    display: grid;
    grid-template-columns: 8% 50% 20% 15%;
    width: 100%;
    background-color: #2949ffcb;	
    gap: 1rem;
    margin: 0.5rem 0;
    border-radius: 15px;
    color: white;
    padding: 0.4rem;
    align-items: center;
    justify-content: end;
    padding: 1rem 0;
}

.card-budget-delete button{
    background-color: #ff4d4d;
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0.5rem 0;
}

.card-budget-title p{
    font-size: 12px;
}


.budget-budget-header{

    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: space-between;
    margin-top: 1rem;
}

.budget-list-title{
    text-align: center;
    color: #2949ff;
    font-size: 22px;
    border-bottom: 1px solid #2949ff;
    padding-bottom: 1rem;
    font-weight: 500;
}


.budget-total{
    display: grid;
    grid-template-columns: 80% 20%;
    justify-content: end;
    align-items: center;
    margin: 2rem 0;
    background-color: #1b3ba1;
    padding: 1rem;
    border-radius: 10px;
    color: white;
}

.budget-total button{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 1rem 0;
    color: #040b6b;
    font-weight: 500;
}

.budget-total button:hover{
    background-color: #2ae0c2;
    border-radius: 10px;
    padding: 1rem 0;
    color: #000000;
    font-weight: 500;
    cursor: pointer;
}
.budget-submit-form{
    margin-top: 7rem;
    width: 170%;
}
.budget-submit-form1{
    text-align: center;
    font-size: 25px;
    margin-bottom: 2rem;
}

.budget-submit-form2{
        background-color: lightblue;
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 2rem;

}

