
.create-eventH1{
    color: black;
    text-align: center;
    margin-top: 2rem;
}
.sidebar1 {
    width: 5%;
    padding: 10px;
    justify-content: space-between;
}

.steps {
    list-style-type: none;
}

.step {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    margin: 4rem 0;
}
.step a{
    color: white;
    text-align: center;
}
.step a:hover{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #0b15a5;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    margin: 4rem 0;
}

.step.complete {
    background-color: rgba(42, 218, 150, 0.493);
    color: black;
}

.step.current {
    background-color: blue;
}
.create-event-sidebar-and-form{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.create-event-name-input{
    background-color: lightblue;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    margin-top: 2rem;
}
.create-event-date-input{
    background-color: lightblue;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    margin-top: 2rem;
}
.create-event-budget-input{
    background-color: lightblue;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    margin-top: 2rem;
}

.create-event-form-div{
    margin-top: 3rem;
    margin-left: 20rem;
}

.create-event-form-div h2{
    font-size: 30px;
}
.create-new-eventP{
    margin-top: 2rem;
    font-size: 20px;
}
.create-event-button{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 2rem;
    font-size: 16px;
    width: 400px;
    margin-left: 3rem;
}

.create-event-button:hover{
    background-color: darkblue;
}
.create-event-back-button{
    background-color: #dfe9f5;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 16px;
    width: 400px;
    margin-left: 3rem;
}
.create-event-back-button:hover{
    background-color: gray;
}