
.decorations-main-content{
    display: flex;
}
.decoration-content{
    margin-left: 2rem;
}
.decoration-budget-header{
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: space-between;
    margin-top: 2rem;
}
.decoration-budget{
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #2948ff;
    padding: 6px;
    color: #fff;
    border-radius: 20px;
    justify-content: center;
    margin-right: 1rem;
}
.decoration-descriptionP1{
    margin-top: 1rem;
}
.decoration-descriptionP2{
    margin-top: 1rem;
}
.decoration-descriptionH4{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.decorationTeams{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
.decoration1{
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: lightblue;
    border-radius: 10px;
    align-items: center;
}
.decoration1 img{
    margin-left: 1rem;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin-top: 1rem;
}
.decoration1 p{
    font-size: 14px;
}
/* .decoration2{
    display: grid;
    grid-template-columns: 40% 60%;
    margin-left: 2rem;
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px;
    align-items: center;

}
.decoration2 img{
    margin-left: 1rem;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin-top: 1rem;
}
.decoration2 p{
    font-size: 10px;
}
.decoration3{
    display: grid;
    grid-template-columns: 40% 60%;
    margin-left: 2rem;
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
}
.decoration3 img{
    margin-left: 1rem;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin-top: 1rem;
}
.decoration3 p{
    font-size: 10px;
}

.decorationTeams1{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.decoration4{
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
}
.decoration4 img{
    margin-left: 1rem;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin-top: 1rem;
}
.decoration4 p{
    font-size: 10px;
}
.decoration5{
    display: grid;
    grid-template-columns: 40% 60%;
    margin-left: 2rem;
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
}
.decoration5 img{
    margin-left: 1rem;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin-top: 1rem;
}
.decoration5 p{
    font-size: 10px;
}
.decoration6{
    display: grid;
    grid-template-columns: 40% 60%;
    margin-left: 2rem;
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
}
.decoration6 img{
    margin-left: 1rem;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin-top: 1rem;
}
.decoration6 p{
    font-size: 10px;
} */

.decorationText{
    margin-left: 1rem;
}
.decorationText p1{
    font-weight: bold;
}
.decoration-choose{
    margin-top: 1rem;
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    width: 100px;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.decoration-back-button{
    background-color: rgb(63, 63, 71);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 70px;
    height: 35px;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}
.decoration-back-button:hover{
    background-color: rgb(0, 0, 0);
}
.decoration-save-button{
    margin-top: 1rem;
    background-color: rgb(27, 182, 161);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 70px;
    height: 35px;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.decoration-save-button:hover{
    background-color: rgb(18, 170, 99);
}
.electronics-budget-header{
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: space-between;
    margin-top: 2rem;
}

.electronics-budget{
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #2948ff;
    padding: 6px;
    color: #fff;
    border-radius: 20px;
    justify-content: center;
}