
.electronics-main-content{
    display: grid;
    grid-template-columns: 1fr 9fr;
}
.electronics-content{
    margin-top: 2rem;
}
.electronics-budget{
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #2948ff;
    padding: 6px;
    color: #fff;
    border-radius: 20px;
    justify-content: center;
    margin-right: 1rem;
}
.electronics-budget-header h2{
    font-size: 30px;
}
.electronics-descriptionP1{
    margin-top: 1rem;
    font-weight: bold;
}
.electronics-descriptionP2{
    margin-top: 1rem;
}
.electronicCategory{
    margin-top: 1rem;
}
.electronicTeams{
    margin-top: 1rem;
}
.electronicTeams{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
.electronic1{
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
}
.electronic1 img{
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
.electronic1 p{
    font-size: 10px;
}
.electronic2{
    display: grid;
    grid-template-columns: 40% 60%;
    margin-left: 2rem;
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
}
.electronic2 img{
    margin-left: 1rem;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
.electronic2 p{
    font-size: 10px;
}
.electronic3{
    display: grid;
    grid-template-columns: 40% 60%;
    margin-left: 2rem;
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
}
.electronic3 img{
    margin-left: 1rem;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
.electronic3 p{
    font-size: 10px;
}

.electronicTeams1{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.electronic4{
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
}
.electronic4 img{
    margin-left: 1rem;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
.electronic4 p{
    font-size: 10px;
}
.electronic5{
    display: grid;
    grid-template-columns: 40% 60%;
    margin-left: 2rem;
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
}
.electronic5 img{
    margin-left: 1rem;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
.electronic5 p{
    font-size: 10px;
}
.electronic6{
    display: grid;
    grid-template-columns: 40% 60%;
    margin-left: 2rem;
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
}
.electronic6 img{
    margin-left: 1rem;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
.electronic6 p{
    font-size: 10px;
}

.electronicText{
    margin-left: 1rem;
}
.electronicText p1{
    font-weight: bold;
}
.electronics-choose{
    margin-top: 1rem;
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    width: 100px;
}
.electronics-back-button{
    background-color: rgb(63, 63, 71);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 70px;
    height: 35px;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}
.electronics-back-button:hover{
    background-color: rgb(0, 0, 0);
}
.electronics-save-button{
    margin-top: 1rem;
    background-color: rgb(27, 182, 161);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 70px;
    height: 35px;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.electronics-save-button:hover{
    background-color: rgb(18, 170, 99);
}
