.main-content{
    width: 80%;
    margin-left: 20rem;
}

.hero {
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
  }
  
  .hero .hero-text {
    text-align: center;
    margin: auto;
  }
  
  .hero h2 {
    font-size: 3rem;
    margin-bottom: 0px;
    color: #2948ff;
    padding-top: 2rem;
  }
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    padding: 0rem;
    text-align: center;
    color: black;
  }

  .btn-primary{
    background-color: #2948ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 2rem;
    
  }
  .btn{
    display: flex;
    justify-content: center;
  }
  .btn-primary:hover{
    background-color: #2035ac;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 2rem;
    
  }
  /* Services Section */
  .services {
    padding: 50px 0;
    text-align: center;
  }
  
  .services h2 {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  
  .service-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .card {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    max-width: 100%;
    border-radius: 10px;
  }
  
  .card h3 {
    margin-top: 15px;
    font-size: 1.4rem;
  }
  
  .card p {
    margin-top: 10px;
  }

.recent h3{
  font-size: 1.7rem;
  margin-bottom: 15px;
  margin-left: 1.5rem;
}

table {
  width: 93%;
  border-collapse: collapse;
  margin: 20px 0;
  margin-left: 3.5rem;
  font-size: 1.1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
th, td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
}
th {
  background-color: #aeb9fa;
  color: #333333;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}
tr:hover {
  background-color: #f1f1f1;
}

  
  .screen {
    position: relative;
    background: #ffffff;
    border-radius: 15px;
    width: 95%;
    margin: 2rem auto;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  .screen-header-button.close {
    background: #2948ff;
  }
  
  .screen-header-button.maximize {
    background: #e8e925;
  }
  
  .screen-header-button.minimize {
    background: #74c54f;
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #2948ff;
    font-size: 30px;
    font-weight: bold;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #2948ff;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 20px;
  }
  
  .app-form-group.buttons {
    margin-top: 1.5rem;
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #000000;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #a0a0a0;
    font-size: smaller;
  }
  
  .app-form-control:focus {
    border-bottom-color: #838383;
  }
  
  .app-form-button {
    background-color: #2948ff;
    border: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    margin: 0 1rem;
    width: 100px;
    padding: 10px 0;
    border-radius: 20px;
  }
  
  .app-form-button:hover {
    color: #c0c0c0;
  }
  

  .table{
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);

  }
  
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }
  